* {
  box-sizing: border-box; 
 }
 body {
   font-family: Arial;
   margin: 0;
 }
div.header-img {
  background-color:black;
  width:100%;
 overflow:hidden;
  position:fixed;
}
 #header-img {
   width:60px;
   height:100px;
   display:block;
   margin:auto;
   background-color: black;
 }
#nav-bar {
    display: flex;
}
div.nav-bar{
 overflow:hidden;
  position:fixed;
  background-color:#1a1a1a;
  width:100%;
  top:100px;
}
 .nav-link {
   text-decoration: none;
   text-align:center;
   padding:0 20px;
   color: white;
   font-size:18px;
   float: left;
 }
 .side {
   margin-top:136px;
   flex:30%;
   background-color: #f1f1f1;
   padding:20px;
 }
 .main {
   flex:70%;
   background-color:#595f69;
   padding:20px;
 }
 .title {
   margin-top:150px;
   text-align:center;
   color: white;
 }
 #email {
   display:block;
   margin: auto;
   width:180px;
   border-radius:10px;
   padding: 10px;
   border: none;
   outline: none;
   transition:width .5s ease;
 }
 #email:hover {
   width:300px;
 }
 #submit {
   display: block;
   margin:auto;
   margin-bottom:10px;
   width:80px;
   border-radius: 8px;
   border:none;
   padding:5px;
   outline: none;
   background-color:mediumseagreen;
   cursor: pointer;
 }
#submit:hover {
  background-color:green;
  color:white;
}
#video {
  display:block;
  margin:auto;
}
.row { 
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  text-align: center;
  justify-content:center;
}
.products {
  background-color: white;
  margin:10px;
  border-radius:10px;
}
.product-title {
  padding: 10px;
  text-align: center;
  background-color:black;
  color: white;
  border-radius:10px 10px 0 0;
}
#product-submit {
  width:100%;
  padding:10px;
  font-size:15px;
  border:none;
  outline:none;
  background-color: mediumseagreen;
  text-decoration:none;
  color:white;
}
#product-submit:hover {
  background-color: green;
}
@media screen and (max-width:600px) {
 .row, .navbar {   
    flex-direction: column;
  }
}
